@model CinemaBerras.Models.Display
@*@{
        ViewData["Title"] = "Confirm";
    }*@

<h2 class="text-success">Your booking is confirmed!</h2>
<div class="border container" style="padding:30px">

    <h4 class="">
        You booked  @Model.TicketsSold  @(@Model.TicketsSold ==1?"ticket" : "tickets") for the movie @Model.Movie.Title
        that starts at @Model.Time.Hour:@Model.Time.Minute in @Model.Salon.Name!
        <br /><br /><br />
        Enjoy!
    </h4>


</div>
<div class="col-3">
    <a asp-controller="Home" asp-action="Index">Back to movie list</a>
</div>
