@model CinemaBerras.Models.Display
@*@{
        ViewData["Title"] = "View";
    }*@


<h4>Book your tickets</h4>
<hr />

<div class="border container" style="padding:30px">
    <form method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Movie.Title"></label>
            </div>
            <div class="col-6">
                @Model.Movie.Title
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Time"></label>
            </div>
            <div class="col-6">
                @Model.Time.ToString("HH:mm")
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Salon.Name"></label>
            </div>
            <div class="col-6">
                @Model.Salon.Name
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                @*<label asp-for="TicketsAvailable"></label>*@
                <label>Available seats</label>
            </div>
            <div class="col-6">
                @if (Model.TicketsSold == 0)
                {
                    @Model.Salon.Seats
                }
                else
                {
                    <span>@(Model.Salon.Seats - Model.TotalTicketsSold)</span>
                }
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="TicketsSold">Book tickets (max. 12)</label>
            </div>
            <div class="col-6">
                <input min="1" value="1" asp-for="TicketsSold" class="form-control" />
                @*   <input Type="number" min="1" value="1" name="numberOfBookedTickets" asp-for="TicketsSold" class="form-control" />*@

                <span asp-validation-for="TicketsSold" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <a asp-controller="Home" asp-action="Index">Back to movie list</a>
            </div>
            <div class="col-6">


                <input type="submit" asp-controller="Booking" asp-action="Confirm" value="Book tickets" class="btn btn-success form-control" />

            </div>
        </div>
    </form>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
