@model IEnumerable<CinemaBerras.Models.Display>
@*<br />
    <div class="container  p-0 m-0">
        <div class="col-12">
            <h1>Movie List</h1>
            <h3>Today @Model.FirstOrDefault().Date.ToString("dddd, dd MMMM yyyy")</h3>
        </div>

        <div class="col-12 border p-3 mt-3">

            @if (Model.Count() > 0)
            {
                <table class=" table table-striped border">

                    <tr class="table table-secondary">

                        <th>

                            <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" title="Sort movies by title">Movie title</a>
                        </th>
                        <th>

                            <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]" title="Sort movies by starting time">Starts at</a>
                        </th>
                        <th>

                            <a asp-action="Index" asp-route-sortOrder="@ViewData["SalonSortParm"]" title="Sort movies by salon name">Salon</a>
                        </th>
                        <th>

                            <a asp-action="Index" asp-route-sortOrder="@ViewData["SeatsSortParm"]" title="Sort movies by available seats in salon">Available seats</a>
                        </th>
                        <th>
                            <label></label>
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Movie.Title
                            </td>
                            <td>
                                @item.Time.ToString("HH:mm")
                            </td>
                            <td>
                                @item.Salon.Name
                            </td>
                            <td>
                                @(item.Salon.Seats-item.TotalTicketsSold)
                            </td>
                            <td>
                                @if ((item.Salon.Seats - item.TotalTicketsSold) == 0)
                                {
                                    <button type="button" class="btn btn-danger btn-sm" disabled>Fully booked</button>
                                }
                                else
                                {

                                    <a asp-controller="Booking" asp-action="Show" asp-route-id="@item.Id" class="btn btn-success btn-sm">Book</a>
                                }
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <p>No movies available today</p>
            }


        </div>
        <br />
        <br>

        <div class="row">
            <div class="col-12">
                <div class="  list-group ">
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-2 project-list-content">

                            <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" title="Sort movies by title">Movie title</a>
                        </div>
                        <div class="col-2">

                            <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]" title="Sort movies by starting time">Starts at</a>
                        </div>
                        <div class="col-2">

                            <a asp-action="Index" asp-route-sortOrder="@ViewData["SalonSortParm"]" title="Sort movies by salon name">Salon</a>
                        </div>
                        <div class="col-2">

                            <a asp-action="Index" asp-route-sortOrder="@ViewData["SeatsSortParm"]" title="Sort movies by available seats in salon">Available seats</a>
                        </div>
                        <div class="col-2 project-list-content"></div>
                    </div>


                    @foreach (var item in Model)
                    {
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="col-2">
                                @item.Movie.Title
                            </div>
                            <div class="col-2">
                                @item.Time.ToString("HH:mm")
                            </div>
                            <div class="col-2">
                                @item.Salon.Name
                            </div>
                            <div class="col-2">
                                @(item.Salon.Seats - item.TotalTicketsSold)
                            </div>
                            <div class="col-2 ">


                                @if ((item.Salon.Seats - item.TotalTicketsSold) == 0)
                                {
                                    <button type="button" class="btn btn-danger btn-sm" disabled>Fully booked</button>
                                }
                                else
                                {

                                    <a asp-controller="Booking" asp-action="Show" asp-route-id="@item.Id" class="btn btn-success btn-sm">Book</a>
                                }
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="list-group">
            <div class="list-group-item d-flex flex-column justify-content-between  align-items-center">
                <div class="project-list-content ">

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" title="Sort movies by title">Movie title</a>
                </div>

            </div>
            <div class="list-group-item ">
                <div class="project-list-content d-flex justify-content-between align-items-center">

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]" title="Sort movies by starting time">Starts at</a>
                </div>
            </div>
            <div class="list-group-item ">
                <div class="project-list-content d-flex justify-content-between align-items-center">

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]" title="Sort movies by starting time">Starts at</a>
                </div>
            </div>
            <div class="list-group-item ">
                <div class="project-list-content d-flex justify-content-between align-items-center">

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]" title="Sort movies by starting time">Starts at</a>
                </div>
            </div>
        </div>
    </div>*@

<div>
    <h1 class="text-center mb-5 mt-5 ">Cinema Berras</h1>
</div>
@*<div>
        <h3>Today @Model.FirstOrDefault().Date.ToString("dddd, dd MMMM yyyy")</h3>
    </div>*@

<nav class="navbar navbar-expand-lg navbar-light  mb-3 ">
    @*<a class="navbar-brand" href="#"></a>*@
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon color-green"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item  active">

                <a class="nav-link navbar-text-font mr-5"><i class="fa fa-calendar" aria-hidden="true"></i> @Model.FirstOrDefault().Time.ToString("dddd, dd MMMM yyyy") <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle navbar-text-font " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort movies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["TitleAscSortParm"]">Movie title <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["TitleDescSortParm"]">Movie title <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["TimeAscSortParm"]">Time <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["TimeDescSortParm"]">Time <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["SeatsAscSortParm"]">Free seats <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["SeatsDescSortParm"]">Free seats <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["SalonAscSortParm"]">Salon name <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["SalonDescSortParm"]">Salon name <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                </div>
            </li>

        </ul>

    </div>
</nav>




<div class="container  p-0 m-0">


    @foreach (var item in Model)
    {

        <div class="card-deck mb-lg-4">
            <div class="card ">
                <div class="card-header  @*bg-dark*@ text-white  ">
                    <h2 class="card-title"> @item.Movie.Title</h2>
                </div>
                <div class="card-body @*bg-secondary*@ @*text-white*@">
                    @*<div class="d-flex flex-row justify-content-around ">
                            <div class="flex-card-container">
                                <h5 class="card-text">@item.Time.ToString("HH:mm")</h5>
                            </div>
                            <div class="flex-card-container">
                                <h5 class="card-text">@item.Salon.Name</h5>
                            </div>

                            <div class="flex-card-container">
                                <h5 class="card-text "> @(item.Salon.Seats-item.TotalTicketsSold) seats left of @item.Salon.Seats</h5>
                            </div>
                            <div>

                                @if ((item.Salon.Seats - item.TotalTicketsSold) == 0)
                                {
                                    <button type="button" class=" btn btn-danger btn-lg " disabled>Fully booked</button>
                                }
                                else
                                {
                                    <a asp-controller="Booking" asp-action="Show" asp-route-id="@item.Id" class=" btn btn-success btn-lg  ">Book</a>
                                }
                            </div>
                        </div>*@


                    <h5 class="card-text">@item.Time.ToString("HH:mm")</h5>

                    <h5 class="card-text">@item.Salon.Name</h5>
                    <h5 class="card-text "> @(item.Salon.Seats-item.TotalTicketsSold) seats left of @item.Salon.Seats</h5>
                    <div>

                        @if ((item.Salon.Seats - item.TotalTicketsSold) == 0)
                        {
                            <button type="button" class="btn btn-danger btn-lg float-right " disabled>Fully booked</button>
                        }
                        else
                        {
                            <a asp-controller="Booking" asp-action="Show" asp-route-id="@item.Id" class="btn btn-success btn-lg ">Book</a>
                        }
                    </div>
                </div>

            </div>

        </div>
    }
</div>
