@model IEnumerable<CinemaBerras.Models.Display>

<br />
<div class="container row p-0 m-0">
    <div class="col-12">
        <h2>Movie List Today</h2>
    </div>

    <div class="col-12 border p-3 mt-3">

        @if (Model.Count() > 0)
        {
            <table class=" table table-striped border">

                <tr class="table table-secondary">

                    <th>
                        <label asp-for="FirstOrDefault().Movie.Title"></label>
                    </th>
                    <th>
                        <label asp-for="FirstOrDefault().Time"></label>
                    </th>
                    <th>
                        <label asp-for="FirstOrDefault().Salon"></label>
                    </th>
                    <th>
                        <label asp-for="FirstOrDefault().TicketsAvailable"></label>
                    </th>
                    <th>
                        <label></label>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Movie.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Salon.Name)

                        </td>
                        <td>
                            @if (item.TicketsSold == 0)
                            {
                                @Html.DisplayFor(m => item.Salon.Seats)
                            }
                            else
                            {

                                @Html.DisplayFor(m => item.TicketsAvailable)
                            }
                        </td>
                        <td>
                            <a asp-controller="Booking" asp-action="Show" asp-route-id="@item.Id" class="btn btn-success btn-sm">Book</a>

                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p>No movies available today</p>
        }


    </div>
</div>
